Source: ros-hydro-romeo-dcm-control
Section: misc
Priority: extra
Maintainer: Ha Dang <hris2003@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-romeo-dcm-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-robot-state-publisher, ros-hydro-ros-control, ros-hydro-ros-controllers
Description: Control for Aldebaran's ROMEO robot
