Source: ros-indigo-romeo-sensors
Section: misc
Priority: extra
Maintainer: Ha Dang <hris2003@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-cv-bridge, ros-indigo-naoqi-sensors, ros-indigo-roscpp, ros-indigo-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-romeo-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-cv-bridge, ros-indigo-naoqi-sensors, ros-indigo-roscpp, ros-indigo-rospy
Description: The romeo_sensors package
